* {

    font-family:sans-serif;
    box-sizing: border-box;
    

}

body {
    background-color: #569fdb;
    background-image: url("/assets/groupFitness.jpg"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

main {
    background-color: white;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    
}



#logo {
    float: left;
    padding: 2px;
    background-color: #e9f5ff;
}

header ul {
    padding: 20px; margin: 0px;
    list-style: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    background: #e9f5ff;
    
}
  
header li {
    margin-right: 30px;
    margin-left: 30px;
}
  
header a:link {
    font-weight: bold;
    text-decoration: none;
}

a:link {color:#ff6f1d;}

a:hover {color:#7f3a11;}

a:visited {color:#569fdb;}

a:active {color: #4e84b0;}

nav ul li{
    position: relative;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #e9f5ff;
    padding: 10px;
    border-radius: 4px;
}

nav ul li:hover ul {
    display: block;
    padding-left: 0px;
}

nav ul li ul li a:hover {
    background-color: #fff;
    padding: 10px;
}

nav ul li ul li {
    padding: 5px;
    border-radius: 4px;
    width: auto;
}

nav ul li a {
    
    font-size: 18px;
    padding: 8px 4px;
}

footer {
    font-size:16px;
    background-color: #ff6f1d;
    color: white;
    padding: 20px;
    text-align: center;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
}

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    border-color: #ff6f1d;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ff6f1d;
    border-radius: 10px;
    border-color: #ff6f1d;

  }  


  article {
    display: flex;
    text-align: center;
    color:white;

    margin:15px;

}

div.woblock {
    height: 425px;
    width: 425px;

    margin:auto;

}

div.blue{
    background-color: #569fdb;
}
  
div.orange{
    background-color: #ff6f1d;
}

img.woimg {
    height: 150px;
    width: 150px;
}

img.redir{
    height: 200px;
    width: 200px;

}

p.expl {
    font-size: 24px;
    text-align:center;
    color:black;

    padding: 50px;

    background-color: #e9f5ff;

    border-style:solid;
    border-color: #ff6f1d;
    border-radius:20px;
}

p.banner {
    font-size:64px;
    text-align:center;
    color:black;
    padding: 50px;
    background-color: #ff6f1d;
    border-style:solid;
    color:white;
    border-radius: 0px;
    border-color: white;


    display: block;
}

p.orange {
    background-color: #ff6f1d;
}

p.blue {
    background-color: #569fdb;
}


p.woblock {
    font-size: 24px;
    color:white;
}

p.desc{
    text-align: center;
    font-size: 14px;
    padding: 10px;
    color:white;
}

a.video {
    color:white;
}

a.redir {
    color:white;
    text-align:center;
    font-size: 32px;
    text-decoration: none;
    border-color: white;
}

img.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

input[type="text"] {
    width: 50px;
    height: 25px;
}