div.woblock {
    height: 250px;
    width: 250px;

    display:grid;
    grid-template-columns: 1fr 1fr;

    text-align: center;
    background-color: grey;

    margin-left: auto;
    margin-right: auto;

    justify-content: center;


    border: 5px black;

}

div.right {
    text-align: center;
    background-color: grey;
    padding:15px;
    float:right;

}

div.left {
    text-align: center;
    background-color: grey;
    padding:15px;
    float:left;

}


