div.woblock {
    height: 250px;
    width: 250px;

    display:grid;
    column-gap:50px;
    row-gap:50px

}


div.left {
    text-align: center;
    background-color: red;
    padding:20px;
    display:inline-grid;
    
}

div.right {
    text-align: center;
    background-color: grey;
    padding:20px;
    display:inline-grid;

}



