article {
    display: flex;
    text-align: center;
    color:white;

    margin:15px;

}

div.woblock {
    height: 425px;
    width: 425px;

    margin:auto;

}

div.blue{
    background-color: #569fdb;
}
  
div.orange{
    background-color: #ff6f1d;
}

img.woimg {
    height: 150px;
    width: 150px;
}

p.expl {
    font-size: 24px;
    text-align:center;
    color:black;

    padding: 50px;

    background-color: #e9f5ff;

    border-style:solid;
    border-color: #ff6f1d;
    border-radius:20px;
}

p.woblock {
    font-size: 24px;
}

p.desc{
    text-align: center;
    font-size: 14px;
    padding: 10px;
}

a.video {
    color:white;
}
