article {
    display: flex;
}

article p {
    padding: 5px;
}

div.left{
    width: 50%;
    background-color: #e9f5ff;
}
  
div.right{
    width: 50%;
    background-color: #fcaa7a;
}

div.leftNav {
    width: 10%;
    float: left;
}

div.rightNav {
    width: 90%;
    float: right;
}

div.leftNav img {
    padding: 2px;
}